@import url('https://fonts.googleapis.com/css?family=Righteous');


/* GLOBAL
----------------------------- */

html {
    overflow: hidden;
}


/* CUSTOM CLASSES
----------------------------- */

.font-righteous {
    font-family: 'Righteous', cursive !important;
}

.h-100 {
    height: 100% !important;
}

.px-app {
    padding-left: 15% !important;
    padding-right: 15% !important;
}


/* AppBar
----------------------------- */

.nav-link {
    color: initial !important;
    font-size: 1.2rem;
    text-decoration: none;
}

.logo {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    margin: 0 auto;
    padding: .3rem;
    width: min-content;
}


/* AppBody
----------------------------- */

.app-body {
    position: relative;
    z-index: 0;
}

.app-container {
    height: 100%;
    max-width: 100% !important;
}

/* Banner */
.v-parallax__image-container {
    position: fixed !important;
}
.banner-title {
    font-size: 3.8rem;
}
.banner-subtitle {
    font-size: 2.8rem;
}
