@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


/* GLOBAL
----------------------------- */

html {
    overflow: hidden;
}


/* CUSTOM CLASSES
----------------------------- */

.ptfl-card {
    font-family: 'Comfortaa', cursive;
    position: relative;
    z-index: 2;
}

.ptfl-card, .ptfl-px {
    padding-left: 12% !important;
    padding-right: 12% !important;
}

.ptfl-card, .ptfl-py {
    padding-top: 6% !important;
    padding-bottom: 6% !important;
}

.ptfl-card__head {
    margin-bottom: 2.5rem;
}

.ptfl-card__head-title {
    color: #33cccc;
    font-family: 'Righteous', cursive !important;
    font-size: 2rem !important;
    font-weight: normal;
    text-transform: uppercase;
}

.ptfl--font-righteous {
    font-family: 'Righteous', cursive !important;
}

.ptfl--height-full {
    height: 100% !important;
}

.ptfl-border--round {
    border-radius: 50%;
}
