/* AppHeader
----------------------------- */

.pfl-header__block-logo {
    background-color: #fff;
    border-bottom: 2px solid #999;
    border-radius: 50%;
    margin: 0 auto;
    padding: .3rem;
    width: min-content;
}

.pfl-header__item-link {
    color: initial !important;
    font-size: 1.2rem;
    text-decoration: none;
}

.pfl-header__item-link--active {
    color: #33cccc !important;
    transition: all 0.3s ease-in-out;
}

.pfl-header__social-img {
    border: 2px solid #fff;
}

.pfl-header__social-img:hover {
    border: none;
}

/* AppBody
----------------------------- */

#pfl-body {
    position: relative;
    z-index: 0;
    scroll-behavior: smooth;
}

.pfl-container {
    max-width: 100% !important;
}

/* Banner */

.pfl-banner .v-parallax__image-container {
    position: fixed !important;
}

.pfl-banner {
    width: inherit;
}

.pfl-banner__title {
    font-size: 3.5rem;
}

.pfl-banner__subtitle {
    font-size: 2.5rem;
}

/* AboutMe */

.pfl-aboutme__description {
    line-height: 1.8rem;
}